.our-sponsors-outer {
    background: #f5f5f5;
    padding: 10px;
    float: left;
    width: 100%;
}

.our-sponsors-outer div.col-sm-4 {
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    text-align: center;
}
.our-sponsors-outer div.col-sm-4:nth-child(3n) {
    border-right: medium none;
}
.our-sponsors-outer div.col-sm-4:last-child {
    border-bottom: medium none;
}
 .our-sponsors-outer img {
    margin: auto;
    max-width: 160px;
}